---
import { getCollection } from 'astro:content'
import BaseHead from '../../components/BaseHead.astro'
import Breadcrumb from '../../components/Breadcrumb.astro'
import Footer from '../../components/Footer.astro'
import FormattedDate from '../../components/FormattedDate.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts'

const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
)
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="flex min-h-screen flex-col">
    <main class="prose mx-auto w-full flex-1">
      <Breadcrumb
        nav={[
          { icon: 'home', link: '/', label: 'ホーム' },
          { title: 'ブログ' },
        ]}
      />
      <section>
        <ul role="list">
          {
            posts.map((post) => (
              <li>
                <a href={`/blog/${post.slug}`} class="flex items-center gap-2">
                  <span class="text-xl">{post.data.title}</span>
                  <span class="font-light">
                    <FormattedDate date={post.data.pubDate} />
                  </span>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
